---
title: International Bridge Blue API

language_tabs:
  - shell

toc_footers:
  - <a href='https://blue.myib.com/register'>Create an International Bridge Blue account</a>

includes:
  - introduction.md.erb
  - labels/labels.md.erb
  - price.md.erb
  - manifests/manifests.md.erb
  - tracking.md.erb
  - usps_services.md.erb
  - address/address.md.erb
  - payment_methods/payment_methods.md.erb
  - payment_transactions/payment_transactions.md.erb
  - pickups/pickups.md.erb
  - statuses
  - errors

search: true
---
