---
title: International Bridge Blue API

language_tabs:
  - shell

toc_footers:
  - <a href='https://blue.myib.com/register'>Create an International Bridge Blue account</a>

includes:
  - introduction.md.erb
  - labels.md.erb
  - price.md.erb
  - manifests.md.erb
  - usps_services.md.erb
  - address.md.erb
  - payment_methods.md.erb
  - payment_transactions.md.erb
  - pickups.md.erb
  - statuses
  - errors

search: true
---